.screenShow{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bannerNone{
  width: 100%;
  height: 100%;
  border-radius: 6rem;
}
.bannerAddTitle{
  font-size: 16rem;
  line-height: 22rem;
  padding: 8rem 0;
  font-weight: 600;
}
.bannerAddText{
  font-size: 14rem;
  line-height: 24rem;
  color: #9AA9B5;
}
.btn{
  padding: 0 10px !important;
  margin-right: 20rem;
}
.btnDefault{
  padding: 0 10px !important;
  color: #9AA9B5 !important;
}
.btnGroup{
  display: block;
  width: 100%;
  height: 100%;
}
.defaultBannerList{
  display: block;
  width: 46%;
  height: auto;
  cursor: pointer;
  float: left;
  margin:30rem 2% 0;
  position: relative;
  img{
    width: 100%;
    height: 100%;
  }
  .bannerIconBox{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    .bannerIcon{
      color: #fff;
      float: right;
      padding: 20rem;
      font-size: 26rem;
    }
  }
}
