@import '~antd/lib/style/themes/default.less';
.main {
  color: @text-color;
  h3 {
    font-size: 20px;
    font-weight: 800;
  }
  p {
    font-size: 16px;
    padding-left: 10px;
  }
  .lageBox {
    background: #fff;
    padding: 15px;
  }
  .rights {
    float: right;
  }
  .widthInput {
    float: right;
    width: 300px !important;
    display: block;
    margin-right: 15px;
  }
}
