@import '~antd/lib/style/themes/default.less';
.deskDduration {
  font-size: 18px;
  color: #35536c;
  font-weight: 500;
}

.icon {
  font-size: 30px;
  color: rgba(53, 83, 108, 0.2);
  transform: rotate(90deg);
  float: right;
  opacity: 0;
}

.totalText {
  text-align: center;
  font-size: 14px;
  color: #9aa9b5;
  margin-top: 35px;
  margin-bottom: 6px;
}
.totalTextContent{
  font-size: 30px;
  line-height: 40px;
  color: #35536C;
  text-align: center;
  margin:24px 0 16px !important;
}
.useTextContent{
  font-size: 30px;
  line-height: 40px;
  color: #35536C;
  margin:10px 0 40px !important;
}
.textStatus{
  font-size: 16px;
}
.useBox{
  margin-top: 44px;
}
.useTitle{
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  i{
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FCB0B1;
    border-radius: 8px;
    float: left;
    margin:7px 10px 7px 0;
  }
  .green{
    background-color: #BDE4E1;
  }
}
.percent{
  float: right;
  color: #FCB0B1;
}
.percentGreen{
  float: right;
  color: #BDE4E1;
}
